*~
*.elc
*.eln
srecode-map.el*
projectile-bookmarks.eld
transient/
games/
ltximg/
nov-places
persist/
*.sqlite
bookmarks
auto-save-list
recentf
savehist
saveplace
eshell
el-get
elpa
semanticdb
url
.DS_Store
places
.smex-items
savefile/
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
savefile
config.el
config.tex
_minted*
.lsp-session*
server
quelpa
